/* Card & Carousel */
.vfrc-card{
    width: 200px !important;
}

.vfrc-card img{
  width:100% !important;
  object-fit: cover !important;
  height: 200px !important;
}

/* Popups */
.vfrc-proactive-message{
    scale: 1 !important;
    transition: scale 0.15s ease-in !important;
    cursor:pointer !important;
}
  
.vfrc-proactive-message:hover{
    scale:1.05 !important;
    transition: scale 0.15s ease-out !important;
}
  
.vfrc-proactive-close:hover{
    background: #FF00005E !important;
}

/* Avatar & imgs */
/* .vfrc-avatar {
  background-color: transparent !important;
  box-shadow: none !important;
}

*/


